html {height: 100%;
background-color: #fff;
}

body {
    display: flex;
    height: 100%;
}

.primero { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#fe0;
    justify-content: center;
    align-items: center;
    width: 67%;
    
}
.primero1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 67%
}
h1 {
    margin: 0;
    font-size: 45px;
    width: 100%;
}
p {
width: 90%;
font-size: 3vh;
font-weight:550;
}

.segundo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.Segundo1 {
    display: flex;
    background-color: #000;
    width: 80%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.form input {
    color: #ccc;
    background: transparent;
    border: none;
    border-bottom: 1px solid #d6cece;
    padding-bottom: 8px ;
    outline: 0px;
}
.Segundo1-2 {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80%;
    background-color: transparent;
} 
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.lastinput {
    display: flex;
    flex-direction: column;
}
.lastinput label {
    color: #ccc;
    margin-bottom: 20px;
}

.form p {
    background-color: yellow;
    color: black;
    margin-left: 162px;
    text-align: center;
    border-radius: 15px;
    width: 90px;
    padding: 11px;
    font-weight: bold;
}
::placeholder {
    color: #ccc;
}

@media screen and (max-width:768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .primero {
        width: 100%;
        height: 100%;
    }
    .segundo 
    {
        width: 100%;
        height: 100%;
    }
    .form p{
        width: 42%;
    }
}